.add-goods {
  padding: 25px 0 35px;
  display: grid;
  grid-template-columns: 20px 1fr 20px;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
    padding-bottom: 75px;
    grid-template-columns: 1fr repeat(2, 131px) 1fr;
    grid-column-gap: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
    padding-bottom: 86px;
    grid-template-columns: 1fr repeat(2, 245px) 1fr;
    grid-column-gap: 80px;
    grid-template-rows: 118px max-content;
  }
}

.add-goods__title-wrapper {
  margin-bottom: 35px;
  display: flex;
  grid-column: 2 / 3;

  &::after {
    position: relative;
    content: "";
    width: 100%;
    display: block;
    height: 2px;
    top: 14px;
    margin-left: 22px;
    margin-right: -20px;
    background: var(--basic_green);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 79px;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr repeat(2, 131px) 1fr;
    grid-column-gap: 62px;

    &::after {
      top: 21px;
      margin: 0;
      margin-left: 26px;
      grid-column: 3 / -1;
    }

    &::before {
      position: relative;
      content: "";
      width: 100%;
      height: 2px;
      top: 23px;
      margin-left: -320px;
      grid-column: 1 / 3;
      background: var(--basic_green);
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr repeat(4, 245px) 1fr;
    grid-column-gap: 80px;

    &::after {
      top: 25px;
      margin-left: 48px;
      grid-column: 3 / -1;
      grid-row: 1 / 2;
    }

    &::before {
      top: 25px;
      margin: 0;
      margin-left: -285px;
      grid-column: 1 / 3;
    }
  }
}

.add-goods__title-block {
  margin: 0;
  display: inline-block;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: $font-oswald;
  color: var(--basic-black);


  @media (min-width: $tablet-width) {
    margin-right: -52px;
    font-size: 36px;
    line-height: 36px;
    justify-self: end;
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    margin-right: -93px;
    grid-column: 2 / 3;
  }
}

.add-goods__list {
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: 2 / 3;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    grid-column: 1 / -1;
    border: $border-grey;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    margin: 0;
    padding-top: 0;
    justify-self: end;
    grid-column: 1 / 4;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}

.add-goods__item {
  padding-top: 12px;
  padding-bottom: 18px;
  border-top: $border-catalog;

  @media (min-width: $tablet-width) {
    padding: 0 38px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 60px;
    grid-template-rows: 46px 63px;
    grid-row-gap: 28px;
    border-top: none;
    border-bottom: $border-grey;

    &--drinking-water {
      grid-template-rows: 46px 65px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    border-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 245px);
    grid-column-gap: 80px;
    grid-template-rows: 71px;
    border-bottom: $border-grey;
  }
}

.add-goods__title {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  font-family: $font-oswald;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 27px;
    grid-column: 1 / 3;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 3px;
    padding: 0;
    align-self: center;
    grid-column: 1 / 2;
  }
}

.add-goods__table {
  width: 100%;
  margin-top: 10px;
  margin-left: -5px;

  @media (min-width: $tablet-width) {
    margin-top: 27px;
    display: flex;
    justify-content: flex-end;
    grid-column: 3 /-1;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    align-self: center;
    grid-column: 2 / 3;
  }
}

.add-goods__line {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  font-family: $font-arial;
  color: var(--special_dark-grey);

  @media (min-width: $desktop-width) {
    width: 288px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 6px;
    margin-right: -36px;
  }
}

.add-goods__value {
  margin-right: -7px;

  @media (min-width: $tablet-width) {
    margin-left: 50px;

    &--drinking-water {
      margin-left: 57px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

@media (min-width: $tablet-width) {
  .add-goods__container-button {
    margin: 0 38px;
  }

  .add-goods__param,
  .add-goods__value {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .add-goods__param {
    margin-left: 7px;
  }
}

@media (min-width: $desktop-width) {
  .add-goods__container-button {
    width: 244px;
    margin: 0;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .add-goods__value {
    width: 44px;
  }
}


.add-goods__button {
  width: 100%;
  height: 40px;
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    margin-top: -2px;
    grid-column: 1 / -1;

    &--sweetener {
      height: 38px;
    }

    &--milk {
      height: 39px;
      margin-top: -3px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    height: 40px;
    margin: 0;
    margin-top: -2px;
    margin-left: 2px;
    align-self: center;
    grid-column: 3 / 4;
  }
}
