.add-goods {
  padding: 25px 0 35px;
  display: grid;
  grid-template-columns: 20px 1fr 20px;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
    grid-template-columns: 1fr repeat(2, 131px) 1fr;
    grid-column-gap: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
    padding-bottom: 86px;
    grid-template-columns: 1fr repeat(2, 245px) 1fr;
    grid-column-gap: 80px;
    grid-template-rows: 117px max-content;
  }
}

.add-goods__title-block {
  margin: 0;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 24px;
  font-family: $font-oswald;
  color: var(--basic-black);
  grid-column: 2 / 3;

  @media (min-width: $tablet-width) {
    width: 338px;
    margin-left: 68px;
    margin-right: -68px;
    font-size: 36px;
    line-height: 36px;
    justify-self: end;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-right: 230px;
    margin-bottom: 81px;
    padding-top: 0;
    grid-column: 1 / 3;
  }
}

.add-goods__list {
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: 2 / 3;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    padding-top: 26px;
    grid-column: 1 / -1;
    border-bottom: none;
    border: $border-grey;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    margin: 0;
    padding-top: 0;
    justify-self: end;
    grid-column: 1 / 4;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}

.add-goods__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: $border-catalog;

  @media (min-width: $tablet-width) {
    padding-bottom: 28px;
    border-top: none;
    border-bottom: $border-grey;
  }

  @media (min-width: $desktop-width) {
    border-top: 15px;
    padding-bottom: 17px;
    display: grid;
    grid-template-columns: repeat(3, 245px);
    grid-column-gap: 80px;
    border-bottom: $border-grey;
  }
}

.add-goods__title {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-family: $font-oswald;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0 38px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    align-self: center;
  }
}

.add-goods__table {
  width: 100%;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    padding: 0 38px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    align-self: center;
  }
}

.add-goods__line {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  font-family: $font-arial;
  color: var(--special_dark-grey);

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}

@media (min-width: $tablet-width) {
  .add-goods__container-button {
    margin: 0 38px;
  }
}

@media (min-width: $desktop-width) {
  .add-goods__container-button {
    width: 244px;
    margin: 0;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .add-goods__value {
    width: 44px;
  }
}


.add-goods__button {
  width: 100%;
  height: 40px;
  margin-top: 15px;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
