.add-goods {
  padding: 25px 0 35px;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
}

.add-goods__title-block {
  margin: 0;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 24px;
  font-family: $font-oswald;
  color: var(--basic-black);
}

.add-goods__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.add-goods__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: $border-catalog;
}

.add-goods__title {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-family: $font-oswald;
  text-transform: uppercase;
}

.add-goods__table {
  width: 100%;
  margin-top: 13px;
}

.add-goods__line {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  font-family: $font-arial;
  color: var(--special_dark-grey);
}

.add-goods__button {
  width: 100%;
  height: 40px;
  margin-top: 15px;
}
