.catalog {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 104px 1fr max-content;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr repeat(2, 131px) 1fr;
    grid-column-gap: 62px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr repeat(2, 245px) 1fr;
    grid-column-gap: 80px;
    grid-template-rows: 138px 1fr max-content;
  }
}

.catalog__title {
  margin: 0;
  margin-left: 20px;
  padding-top: 26px;
  padding-bottom: 40px;
  text-align: left;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  font-family: $font-oswald;
  color: var(--basic-black);
  border-bottom: $border-catalog;
  grid-column: 2 / -2;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 87px;
    padding-top: 65px;
    font-size: 60px;
    line-height: 60px;
    justify-self: end;
    grid-column: 1 / 4;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-right: 141px;
    padding-top: 76px;
    padding-bottom: 0;
    grid-column: 1 / 3;
  }
}

.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;
  grid-column: 2 / -2;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 51px 30px 0;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 66px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 83px;
    margin-left: -325px;
    margin-right: -325px;
    grid-column: 2 / -2;
    grid-template-columns: repeat(4, 245px);
    grid-column-gap: 80px;
    grid-row-gap: 70px;
  }
}

.catalog__item {
  padding-top: 19px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 20px 1fr 1fr 20px;
  grid-template-rows: 41px 84px 40px;
  border-bottom: $border-catalog;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
    grid-template-columns: 36px 1fr 36px;
    grid-template-rows: 53px 127px 60px 99px 81px;
    grid-row-gap: 21px;

    &::before {
      content: "";
      width: 100%;
      height: auto;
      background: var(--basic_grey);
      grid-column: 1 / -1;
      grid-row: 2 / -1;
    }
  }
}

.catalog__link-title {
  text-decoration: none;
  margin-top: 2px;
  margin-right: 56px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-oswald;
  grid-column: 3 / -2;
  grid-row: 1 / 2;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 42px;
    margin-right: 42px;
    padding-top: 13px;
    text-align: center;
    grid-column: 2 / -2;
    grid-row: 3 / 4;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 18px;
    margin-right: 15px;
    padding-top: 21px;
    line-height: 21px;
  }
}

.catalog__cart-title {
  margin: 0;
  color: var(--special_dark-grey-2);
  text-transform: uppercase;
  font-weight: normal;
}

.catalog__link-image {
  width: 140px;
  height: 112px;
  text-decoration: none;
  grid-column: 2 / 3;
  grid-row: 1 / 3;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
    margin: 0 auto;
    grid-column: 2 / -2;
    grid-row: 1 / 3;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
    margin-left: 3px;
  }
}


.catalog__table {
  height: 44px;
  margin-top: 13px;
  grid-column: 3 / -2;
  grid-row: 2 / 3;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  font-family: $font-arial;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -2;
    grid-row: 4 / 5;
    font-size: 16px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-left: 2px;
  }
}

.catalog__pamaram {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: $border-gray;
  }
}

.catalog__value {
  text-align: right;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: $border-gray;
  }
}

.catalog__button {
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  grid-column: 2 / -2;

  @media (min-width: $tablet-width) {
    height: 39px;
    margin-top: 1px;
    margin-left: 3px;
    margin-right: 1px;
    grid-column: 2 / 3;
    grid-row: -2 / -1;
  }

  @media (min-width: $desktop-width) {
    margin-top: 8px;
    margin-right: 4px;
  }
}

.catalog__add {
  padding: 78px 21px 25px 20px;
  grid-column: 2 / -2;
  border-bottom: $border-catalog;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 429px;
    padding: 161px 37px 38px;
    border: $border-basic_grey;
  }
}

.catalog__text {
  text-align: center;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: $font-oswald;

  @media (min-width: $tablet-width) {
    width: 134px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 22px;
  }
}

.catalog__phrase {
  width: 100%;
  padding-top: 8px;
  display: inline-block;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-arial;
  color: var(--special_dark-grey);

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 23px;
    margin-bottom: 84px;
    font-size: 16px;
    line-height: 18px;
  }
}

.catalog__button-gray {
  width: 100%;
  height: 40px;
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 0px;
  }
}
