.catalog {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 104px 1fr max-content;
}

.catalog__title {
  margin: 0;
  margin-top: 29px;
  text-align: center;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  font-family: $font-oswald;
  color: var(--basic-black);
  border-bottom: $border-catalog;
  grid-column: 2 / -2;
}

.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;
  grid-column: 2 / -2;
}

.catalog__item {
  padding-top: 19px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 20px 1fr 1fr 20px;
  grid-template-rows: 41px 84px 40px;
  border-bottom: $border-catalog;
}

.catalog__link-title {
  text-decoration: none;
  margin-right: 56px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-oswald;
  grid-column: 3 / -2;
  grid-row: 1 / 2;
}

.catalog__cart-title {
  margin: 0;
  color: var(--special_dark-grey-2);
}

.catalog__link-image {
  text-decoration: none;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}


.catalog__table {
  height: 44px;
  margin-top: 18px;
  grid-column: 3 / -2;
  grid-row: 2 / 3;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  font-family: $font-arial;
}

.catalog__pamaram {
  padding: 0;
}

.catalog__value {
  text-align: right;
  padding: 0;
}

.catalog__button {
  height: 40px;
  grid-column: 2 / -2;
}

.catalog__add {
  padding: 78px 21px 25px 20px;
  grid-column: 2 / -2;
  border-bottom: $border-catalog;
}

.catalog__text {
  text-align: center;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: $font-oswald;
}

.catalog__phrase {
  width: 100%;
  padding-top: 8px;
  display: inline-block;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-arial;
  color: var(--special_dark-grey);
}

.catalog__button-gray {
  width: 100%;
  height: 40px;
  margin-top: 21px;
}