.demo {
  padding: 27px 20px 25px;
  background: var(--gray-background);

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 43px;
    display: grid;
    grid-template-columns: 1fr repeat(2, 130px) 1fr;
    grid-column-gap: 30px;
    grid-template-rows: 60px 81px 77px 653px;
    grid-row-gap: 54px;
    background: var(--basic-white);
    border-top: $border-grey;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    border-top: none;
    grid-template-columns: 1fr repeat(2, 245px) 1fr;
    grid-column-gap: 80px;
    grid-template-rows: 194px 96px 227px;
    grid-row-gap: 69px;

    &::before {
      width: 100%;
      height: 462px;
      margin-top: -69px;
      content: "";
      grid-column: 1 / -1;
      grid-row: 2 / -1;
      background: var(--gray-background);
    }
  }
}

.demo__title {
  margin: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  font-family: $font-oswald;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    margin-right: 245px;
    justify-self: end;
    grid-column: 1 / 3;
  }
}

.demo__text {
  margin: 0;
  margin-top: 33px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    line-height: 24px;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-top: 1px;
    margin-right: 132px;
    padding: 0;
    justify-self: end;
    grid-column: 1 / 3;
  }
}

.demo__list {
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 78px 1fr 78px 1fr;
  grid-template-rows: 70px 20px;
  grid-row-gap: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 42px;
    grid-template-rows: auto;
  }

  @media (min-width: $desktop-width) {
    width: 366px;
    margin-right: 204px;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-template-rows: 77px 20px;
    grid-row-gap: 55px;
    justify-self: end;
    grid-column: 1 / 3;
  }
}

.demo__item {
  width: 124px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  grid-row: 1 / 2;

  &--weight {
    grid-column: 1 / 3;

    @media (min-width: $tablet-width) {
      width: 162px;
      height: 77px;
      grid-column: 1 / 2;
      border-radius: 3px;
      border: $border-grey;
    }
  }

  &--time {
    margin-left: -5px;
    grid-column: 4 / 6;

    @media (min-width: $tablet-width) {
      width: 162px;
      height: 77px;
      grid-column: 2 / 3;
      border-radius: 3px;
      border: $border-grey;
    }
  }
}

.demo__table-value {
  position: relative;
  width: 124px;
  height: 56px;
  margin-left: 0;
  padding-top: 12px;
  border-radius: 3px;
  border: $border-grey;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: $font-oswald;
  color: var(--basic-black);
  order: 0;

  @media (min-width: $tablet-width) {
    width: 162px;
    padding-top: 15px;
    font-size: 30px;
    line-height: 37px;
    border: none;
  }
}

.demo__table-title {
  width: 80px;
  margin: 0 auto;
  margin-top: -10px;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  font-family: $font-arial;
  color: var(--special_dark-grey);
  order: 1;
  border-radius: 3px;
  background: var(--gray-background);
  z-index: 10;

  @media (min-width: $tablet-width) {
    width: 85px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 14px;
    background: var(--basic-white);

    &--time {
      width: 142px;
    }

    &--weight {
      width: 115px;
    }
  }

  @media (min-width: $desktop-width) {
    background: var(--gray-background);
  }
}

.demo__item-cost {
  margin-left: 45px;
  display: flex;
  grid-column: 1 / -1;
  grid-row: 2 / -1;

  @media (min-width: $tablet-width) {
    margin-left: -40px;
    align-self: center;
    flex-wrap: wrap;
    grid-column: 4 / -1;
    grid-row: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
  }
}

.demo__cost-title {
  position: relative;
  text-align: left;

  &::after {
    position: absolute;
    content: ":";
    right: -4px;
  }

  @media (min-width: $tablet-width) {
    margin-left: -50px;
  }
}

.demo__cost-title,
.demo__cost-value {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: $font-oswald;
  color: var(--basic-black);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.demo__cost-value {
  margin-left: 7px;
  @media (min-width: $tablet-width) {
    margin-left: 85px;
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.demo__slider {
  @media (min-width: $tablet-width) {
    padding-top: 0;
    grid-column: 1 / -1;
    grid-row: 4 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / -1;
    grid-row: 1 / -1;
  }
}
