.demo {
  padding: 27px 20px 25px;
  background: var(--gray-background);
}

.demo__title {
  margin: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  font-family: $font-oswald;
}

.demo__text {
  margin: 0;
  margin-top: 33px;
  margin-bottom: 25px;
}

.demo__list {
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 78px 1fr 78px 1fr;
  grid-template-rows: 70px 20px;
  grid-row-gap: 20px;
}

.demo__item {
  width: 124px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  grid-row: 1 / 2;

  &--weight {
    grid-column: 1 / 3;
  }

  &--time {
    grid-column: 4 / 6;
  }
}

.demo__table-value {
  position: relative;
  width: 124px;
  height: 56px;
  margin-left: 0;
  padding-top: 14px;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: $font-oswald;
  color: var(--basic-black);
  order: 0;

  &::before {
    position: absolute;
    content: "";
    width: 124px;
    height: 56px;
    top: 0;
    left: 0;
    background: url("../img/demo/weight-back.svg") 0% 50% no-repeat;
    background-size: cover;
  }
}

.demo__table-title {
  margin-top: -10px;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  font-family: $font-arial;
  color: var(--special_dark-grey);
  order: 1;
}

.demo__item-cost {
  display: flex;
  justify-content: space-between;
  grid-column: 2 / -2;
  grid-row: 2 / -1;
}

.demo__cost-title {
  position: relative;
  text-align: left;

  &::after {
    position: absolute;
    content: ":";
    right: -4px;
  }
}

.demo__cost-title,
.demo__cost-value {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: $font-oswald;
  color: var(--basic-black);
}
