.directions {
  padding-bottom: 27px;
  background: var(--basic-white);

  @media (min-width: $tablet-width) {
    padding-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 71px;
  }
}

.directions__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: repeat(2, max-content);
  grid-row-gap: 21px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 30px 1fr 30px;
    grid-row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr repeat(2, 245px) 1fr;
    grid-column-gap: 80px;
    grid-template-rows: max-content;
  }
}

.directions__item {
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
  background: var(--basic_grey);
  grid-column: 2 / -2;

  @media (min-width: $tablet-width) {
    padding: 78px 28px 36px 53px;
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
    padding-right: 51px;

    &--down {
      grid-column: 1 / 3;
      justify-self: end;
      margin-left: 110px;
    }

    &--up {
      grid-column: 3 / -1;
      margin-right: 110px;
    }
  }
}

.directions__title {
  position: relative;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 29px;
  margin-left: 71px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  font-family: $font-oswald;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -1px;
    margin-bottom: 75px;
    margin-left: 20px;
    text-align: center;
  }

  &--icon-down {
    @media (min-width: $desktop-width) {
      min-width: 370px;
    }

    &::before {
      position: absolute;
      content: "";
      top: -9px;
      left: -69px;
      width: 50px;
      height: 53px;
      background: url("../img/stack.svg#cat-back") 50% 50% no-repeat;
      background-size: cover;
      z-index: 1;

      @media (min-width: $tablet-width) {
        width: 200px;
        height: 211px;
        top: 4px;
        left: calc(100% - 234px);
      }

      @media (min-width: $desktop-width) {
        width: 100px;
        height: 106px;
        top: -36px;
        left: -21px;
      }
    }
  }

  &--icon-up {
    @media (min-width: $desktop-width) {
      min-width: 439px;
      margin-left: 44px;
    }

    &::before {
      position: absolute;
      content: "";
      top: -6px;
      left: -78px;
      width: 67px;
      height: 50px;
      background: url("../img/stack.svg#cat-back-up") 50% 50% no-repeat;
      background-size: cover;

      @media (min-width: $tablet-width) {
        width: 268px;
        height: 200px;
        top: 14px;
        left: calc(100% - 268px);
      }

      @media (min-width: $desktop-width) {
        width: 134px;
        height: 100px;
        top: -31px;
        left: -63px;
      }
    }
  }
}

.directions__text {
  margin: 0;
  margin-right: 13px;

  &--padding {
    padding-right: 10px;

    @media (min-width: $tablet-width) {
      padding-right: 30px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin-right: 255px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.directions__wrapper-button {
  height: 57px;
  display: block;
  margin-top: 22px;
  padding-top: 20px;
  border-top: $border-grey;

  @media (min-width: $tablet-width) {
    height: 70px;
    margin-top: 31px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: 5px;
    margin-bottom: 3px;
  }
}

.directions__button {
  text-decoration: none;
  display: flex;
  float: left;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  font-family: $font-oswald;
  text-transform: uppercase;
  color: var(--basic-black);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--arrow {
    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 12px;
      align-self: center;
      margin-top: -2px;
      margin-left: 15px;
      background: url("../img/stack.svg#arrow") 50% 50% no-repeat;
      background-size: cover;
      box-sizing: border-box;

      @media (min-width: $tablet-width) {
        margin-top: 0;
        margin-left: 24px;
      }

      @media (min-width: $desktop-width) {
        margin-left: 27px;
      }
    }

    &:hover {
      &::after {
        width: 32px;
        height: 10px;
        background: url("../img/stack.svg#arrow-hover") 50% 50% no-repeat;
        background-size: cover;
      }
    }
  }

  &--arrow-up {
    &::after {
      margin-left: 17px;

      @media (min-width: $tablet-width) {
        margin-left: 25px;
      }

      @media (min-width: $desktop-width) {
        margin-left: 26px;
      }
    }
  }

  &:active {
    opacity: 0.3;
  }
}
