.footer {
  background: var(--basic-white);

  &--catalog {
    background: var(--basic_grey);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr repeat(2, 245px) 1fr;
    grid-column-gap: 80px;
    grid-template-rows: 95px 201px 104px 149px;
  }
}

.footer__cooperation {
  padding: 28px 19px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 66px 72px 59px 71px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding-left: 76px;
    padding-right: 85px;
    justify-self: end;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background: var(--basic-white);
    z-index: 1;
  }
}

.footer__text {
  width: 50%;
  margin: 0;
  margin-top: -1px;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-oswald;
  text-transform: uppercase;
  color: var(--special-black);

  @media (min-width: $tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 25px;
  }
}

.footer__text-correction {
  display: inline-block;
  margin-bottom: 4px;
}

.footer__adress {
  width: 50%;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--special_dark-grey);
  font-family: $font-arial;

  @media (min-width: $tablet-width) {
    width: 159px;
    text-align: right;
    margin-top: -4px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -2px;
    text-align: left;
  }
}

@media (min-width: $tablet-width) {
  .footer__adress-city {
    display: block;
    margin-top: 20px;
  }
}

.footer__map,
.footer__iframe {
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 4;
  }
}

.footer__bottom {
  padding: 0 20px 0;
  display: grid;
  grid-template-rows: 95px 63px 78px;
  background: var(--basic_grey);

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    grid-template-columns: 128px 1fr 163px;
    grid-template-rows: 150px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr repeat(2, 245px) 1fr;
    grid-column-gap: 80px;
    grid-column: 1 / -1;
    grid-row: 4 / -1;
  }
}

.footer__logo {
  width: 100%;
  display: block;
  padding-top: 36px;
  text-align: center;
  border-bottom: $border-grey-1;
  outline: none;

  &:focus {
    .footer__logo-svg {
      outline: $border-dark-2;
      outline-offset: 2px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 58px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-top: 63px;
    justify-self: end;
    grid-column: 1 / 2;
  }
}

.footer__logo-svg {
  width: 128px;
  height: 27px;
  display: inline-block;

  @media (min-width: $desktop-width) {
    float: left;
  }
}

.footer__social {
  text-decoration: none;
  width: 130px;
  margin: 0 auto;
  padding-top: 19px;
  padding-left: 0;
  padding-right: 6px;
  padding-bottom: 21px;
  border-bottom: $border-grey-1;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 147px;
    height: 34px;
    margin: 0 auto;
    padding-top: 70px;
    padding-left: 21px;
    padding-right: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    width: 140px;
    padding-top: 75px;
    padding-left: 0;
    padding-right: 13px;
    grid-column: 2 / 4;
  }
}

.footer__item {
  display: inline-block;
  align-self: center;
}

.footer__social-svg {
  display: inline-block;

  &--vkontakte {
    width: 23px;
    height: 16px;
    margin-top: 5px;
    margin-left: -2px;

    @media (min-width: $tablet-width) {
      width: 31px;
      height: 22px;
      margin: 0;
    }
  }

  &--instagram {
    width: 16px;
    height: 16px;
    margin-top: 5px;
    margin-left: -2px;

    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--facebook {
    width: 13px;
    height: 18px;
    margin-top: 4px;

    @media (min-width: $tablet-width) {
      width: 21px;
      height: 30px;
    }
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 34px;
    padding-top: 81px;
    padding-left: 80px;
    grid-column: -2 / -1;
  }
}

.footer__text-Academy {
  margin-top: -3px;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: var(--special_dark-grey);
  font-family: $font-arial;

  @media (min-width: $tablet-width) {
    margin-top: -10px;
  }
}

.footer__logo-Academy {
  margin-top: 2px;
  display: inline-block;

  @media (min-width: $tablet-width) {
    margin-top: -4px;
  }
}

.footer__svg-logo-Academy {
  width: 27px;
  height: 34px;

  @media (min-width: $tablet-width) {
    margin-top: -1px;
    margin-right: 1px;
  }
}
