.header {
  position: relative;
  border-bottom: $border-gray;
  display: grid;
  grid-template-columns: 53px 1fr 44px;
  grid-template-rows: 66px 1fr;
  background: var(--basic-white);

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    grid-template-columns: 1fr repeat(2, 130px) 1fr;
    grid-column-gap: 60px;
    grid-template-rows: 52px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding-top: 53px;
    grid-template-columns: 1fr repeat(2, 245px) 1fr;
    grid-column-gap: 80px;
    grid-template-rows: 59px;
    background: var(--white-00);
  }
}

.header__logo {
  width: 101px;
  height: 18px;
  margin-right: 10px;
  align-self: center;
  justify-self: center;
  grid-column: 2 / 3;
  outline: none;

  &::before {
    position: absolute;
    content: "";
    width: 34px;
    height: 38px;
    top: 12px;
    left: 19px;
    display: block;
    background: url("../img/logo/identity.svg#mark-only-for-mobile") 50% 50% no-repeat;
    background-size: cover;
    grid-column: 1 / 2;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus,
  &:focus-visible {
    outline: $border-dark-2;
    outline-offset: 2px;

    &::before {
      outline: $border-dark-2;
      outline-offset: 2px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
    margin-right: -45px;
    grid-column: 1 / 2;
    --tablet-hidden: transparent;

    &:focus,
    &:focus-visible {
      outline: none;

      .header__logo-svg {
        outline: $border-dark-2;
        outline-offset: 2px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 203px;
    height: 66px;
    margin-top: 6px;
    margin-right: -52px;
    --tablet-hidden: var(--yellow);
  }
}

.header__logo-full {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.header__logo-svg {
  width: 101px;
  height: 18px;

  @media (min-width: $tablet-width) {
    width: 201px;
    height: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 219px;
    height: 66px;
  }
}

.header__logo-text {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__menu-toggle {
  width: 20px;
  height: 20px;
  margin-top: -5px;
  margin-left: 2px;
  justify-self: start;
  align-self: center;
  padding: 0;
  border: none;
  background: url("../img/stack.svg#sandwich") 50% 50% no-repeat;
  grid-column: 3 / -1;
  outline: none;

  &--none {
    display: none;
  }

  &:focus,
  &:focus-visible {
    outline: $border-dark-2;
    outline-offset: 2px;
  }

  &--active {
    background: url("../img/stack.svg#close") 50% 50% no-repeat;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__navigation {
  margin: 0;
}
