.header {
  border-bottom: $border-gray;
  display: grid;
  grid-template-columns: 53px 1fr 44px;
  grid-template-rows: 66px 1fr;
  background: var(--basic-white);
}

.header__logo {
  width: 34px;
  height: 38px;
  justify-self: end;
  align-self: center;
  grid-column: 1 / 2;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}


.header__logo-text {
  width: 101px;
  height: 18px;
  justify-self: center;
  align-self: center;
  grid-column: 2 / 3;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__menu-toggle {
  width: 20px;
  height: 20px;
  justify-self: start;
  align-self: center;
  padding: 0;
  border: none;
  background: url("../img/header/sandwich.svg") 50% 50% no-repeat;
  grid-column: 3 / -1;

  &--active {
    background: url("../img/header/close.svg") 50% 50% no-repeat;
  }
}

.navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: none;

  &--active {
    display: block;
  }
}

.navigation__item {
  list-style: none;
  height: 66px;
  border-top: $border-gray;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  font-family: $font-oswald;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.navigation__link {
  text-decoration: none;
  color: inherit;
}
