.navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: none;

  &--active {
    display: block;
  }
}

.navigation__item {
  list-style: none;
  height: 66px;
  border-top: $border-gray;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  font-family: $font-oswald;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.navigation__link {
  text-decoration: none;
  color: inherit;
}
