.page__body {
  margin: 0;
  box-sizing: border-box;
  background: var(--basic-white);

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    box-sizing: border-box;
  }
}


@media (min-width: $desktop-width) {
  .page__header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}

.page__main {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-arial;
  color: var(--special_dark-grey);

  @media (min-width: $desktop-width) {
    &--index {
      grid-column: 1 / -1;
      grid-row: 1 / 3;
    }
  }
}

@media (min-width: $desktop-width) {
  .page__footer {
    grid-column: 1 / -1;
    grid-row: 3 / -1;
  }
}
