.present {
  width: 100%;
  height: auto;
  padding-top: 39px;
  border-top: $border-catalog;
  grid-column: 2 / 3;

  @media (min-width: $tablet-width) {
    padding-top: 69px;
    padding-left: 30px;
    padding-right: 30px;
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 290px;
    padding: 0;
    border-top: none;
    grid-column: 4 / -1;
  }
}

.present__background {
  position: relative;
  width: 100%;
  height: 289px;
  padding-top: 186px;
  background-color: var(--basic_green);
  background-image: url("../img/gift-photo-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2.png");
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 200px;
    padding-top: 71px;
    background-color: var(--basic_green);
    background-image: url("../img/gift-photo-tablet.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2.png");
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 289px;
    padding-top: 187px;
    padding-left: 41px;
    padding-right: 43px;
    background-color: var(--basic_green);
    background-image: url("../img/gift-photo-desktop.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2.png");
      background-size: cover;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 78px;
    height: 80px;
    top: 58px;
    left: calc(50% - 78px / 2);
    background: url("../img/stack.svg#icon-gift") 50% 50% no-repeat;
    background-size: cover;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 83px;
      left: 78px;
    }

    @media (min-width: $desktop-width) {
      width: 80px;
      height: 83px;
      top: 56px;
      left: calc(50% - 78px / 2);
    }
  }
}

.present__text {
  width: 161px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-arial;
  color: var(--basic-white);

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 124px;
    float: right;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    text-align: center;
  }
}
