.slider {
  width: 100%;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
    grid-template-rows: 191px 358px 104px;

    &::before {
      width: 100%;
      height: 462px;
      content: "";
      grid-column: 1 / -1;
      grid-row: 2 / -1;
      background: var(--gray-background);

      @media (min-width: $desktop-width) {
        background: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    padding-top: 0;
  }
}

.slider__img {
  max-width: 311px;
  margin: 0 auto;
  display: none;

  &--active {
    display: block;
  }

  @media (min-width: $tablet-width) {
    max-width: 708px;
    height: 533px;
    grid-column: 1 / -1;
    grid-row: 1 / 3;
  }

  @media (min-width: $desktop-width) {
    height: 482px;
  }
}

.slider__range {
  padding-left: 27px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: 70px 1fr 70px;

  @media (min-width: $tablet-width) {
    padding-bottom: 64px;
    padding-left: 56px;
    padding-right: 62px;
    grid-column: 1 / -1;
    grid-row: 3 / -1;
  }
}

.slider__label {
  width: 70px;
  height: 40px;
  border: none;
  background: none;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-oswald;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--before {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  &--after {
    grid-row: 1 / 2;
    grid-column: 3 / -1;
  }
}

.slider__bar {
  position: relative;
  height: 14px;
  padding-left: 2px;
  padding-right: 2px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
  border: 1px solid var(--special_grey);
  grid-row: 1 / 2;
  grid-column: 2 / -2;
  background: var(--basic-white);

  @media (min-width: $tablet-width) {
    height: 6px;
    margin-right: 14px;
    margin-left: 14px;
    background: var(--special_grey);
    border-radius: 6px;
  }
}

.slider__pin {
  width: 35px;
  height: 6px;
  padding: 0;
  border: none;
  color: var(--basic-green);
  background: url("../img/demo/range-button.svg") 50% 50% no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 34px;
    height: 34px;
    left: calc(50% - 34px / 2);
    background: url("../img/demo/renge-button-tablet.svg") 50% 50% no-repeat;
    background-size: cover;
  }
}
