.slider {
  width: 100%;
  padding-top: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-bottom: 0;
    background: var(--linear-gradient);
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    padding-top: 0;
    background: none;
  }
}

.slider__wrapper-images {
  position: relative;
  width: 282px;
  height: 240px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 677px;
    height: 544px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 13px;
    margin-left: -80px;
  }
}

.slider__img {
  position: absolute;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;

  &--before {
    left: -3px;
    z-index: 1;
    background: var(--gray-background);

    @media (min-width: $tablet-width) {
      width: calc(677px / 2);
      left: 0;
      background: var(--linear-gradient-cat);
    }

    @media (min-width: $desktop-width) {
      width: 365px;
      background: var(--linear-gradient-cat-desktop);
    }
  }

  &--after {
    width: 251px;
    top: 2px;
    left: calc(50% - 249px / 2);

    @media (min-width: $tablet-width) {
      width: 545px;
      top: 0;
      left: 91px;
    }
  }
}

.slider__review-img {
  width: 277px;
  height: 230px;
  display: block;

  @media (min-width: $tablet-width) {
    width: 677px;
    height: 520px;

    &--after {
      width: 545px;
      height: 520px;
    }
  }
}

.slider__range {
  margin-top: 14px;
  padding-left: 27px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: 70px 1fr 70px;

  @media (min-width: $tablet-width) {
    margin-top: -14px;
    margin-left: -3px;
    padding-bottom: 0;
    padding-left: 90px;
    padding-right: 90px;
    grid-column: 1 / -1;
    grid-row: 3 / -1;
  }

  @media (min-width: $desktop-width) {
    margin-left: -13px;
    margin-right: 21px;
    margin-top: 5px;
    padding-left: 0;
    padding-right: 0;
  }
}

.slider__label {
  width: 70px;
  height: 40px;
  border: none;
  background: none;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-oswald;
  outline-offset: -8px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0;
    justify-self: center;
    font-size: 20px;
    line-height: 30px;
    border-bottom: $border-black-24;
    outline-offset: 2px;

    &:hover {
      border-bottom: $border-black-40;
    }

    &:active {
      border-bottom: none;
    }
  }

  &--before {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    @media (min-width: $tablet-width) {
      width: 49px;
    }
  }

  &--after {
    grid-row: 1 / 2;
    grid-column: 3 / -1;

    @media (min-width: $tablet-width) {
      width: 51px;
    }
  }
}

.slider__bar {
  position: relative;
  height: 14px;
  padding-left: 8px;
  padding-right: 8px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
  border: 1px solid var(--special_grey);
  grid-row: 1 / 2;
  grid-column: 2 / -2;
  background: var(--basic-white);

  @media (min-width: $tablet-width) {
    height: 6px;
    margin-right: 14px;
    margin-left: 14px;
    background: var(--special_grey);
    border-radius: 6px;
  }
}

.slider__pin {
  position: absolute;
  width: 35px;
  height: 6px;
  padding: 0;
  color: var(--basic-green);
  background: url("../img/stack.svg#range-button") 50% 50% no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    top: -15px;
    border-radius: 34px;
    box-shadow: var(--shadow-16);
    left: calc(50% - 36px / 2);
    background: url("../img/stack.svg#renge-button-tablet") 50% 50% no-repeat;
    background-size: cover;
    cursor: grab;

    &:hover {
      box-shadow: var(--shadow-19);
    }

    &:active {
      box-shadow: var(--shadow-20);
      background: url("../img/stack.svg#renge-button-press") 50% 50% no-repeat;
      background-size: cover;
      outline: none;
    }
  }
}
