.slider {
  width: 100%;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 0;
    background: var(--linear-gradient);
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    padding-top: 0;
    background: none;
  }
}

.slider__img {
  max-width: 280px;
  height: auto;
  padding-right: 44px;
  margin: 0 auto;
  margin-top: 3px;
  display: none;

  &--active {
    display: block;
  }

  @media (min-width: $tablet-width) {
    max-width: 462px;
    height: 511px;
    margin-top: -3px;
    padding-right: 0;
    margin-left: calc(50% - 302px);
    grid-column: 1 / -1;
    grid-row: 1 / 3;
  }

  @media (min-width: $desktop-width) {
    height: 511px;
    padding-top: 18px;
    margin-left: calc(50% - 345px);
  }
}

.slider__range {
  margin-top: 19px;
  padding-left: 27px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: 70px 1fr 70px;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    padding-bottom: 0;
    padding-left: 86px;
    padding-right: 90px;
    grid-column: 1 / -1;
    grid-row: 3 / -1;
  }

  @media (min-width: $desktop-width) {
    margin-left: -13px;
    margin-right: 21px;
    margin-top: 55px;
    padding-left: 0;
    padding-right: 0;
  }
}

.slider__label {
  width: 70px;
  height: 40px;
  border: none;
  background: none;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-oswald;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0;
    justify-self: center;
    font-size: 20px;
    line-height: 30px;
    border-bottom: $border-black-24;

    &:hover {
      border-bottom: $border-black-40;
    }

    &:active {
      border-bottom: none;
    }
  }

  &--before {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    @media (min-width: $tablet-width) {
      width: 49px;
    }
  }

  &--after {
    grid-row: 1 / 2;
    grid-column: 3 / -1;

    @media (min-width: $tablet-width) {
      width: 51px;
    }
  }
}

.slider__bar {
  position: relative;
  height: 14px;
  padding-left: 7px;
  padding-right: 4px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
  border: 1px solid var(--special_grey);
  grid-row: 1 / 2;
  grid-column: 2 / -2;
  background: var(--basic-white);

  @media (min-width: $tablet-width) {
    height: 6px;
    margin-right: 14px;
    margin-left: 14px;
    background: var(--special_grey);
    border-radius: 6px;
  }
}

.slider__pin {
  width: 35px;
  height: 6px;
  padding: 0;
  border: none;
  color: var(--basic-green);
  background: url("../img/demo/range-button.svg") 50% 50% no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 34px;
    box-shadow: var(--shadow-16);
    left: calc(50% - 34px / 2);
    background: url("../img/demo/renge-button-tablet.svg") 50% 50% no-repeat;
    background-size: cover;
    cursor: grab;

    &:hover {
      box-shadow: var(--shadow-19);
    }

    &:active {
      box-shadow: var(--shadow-20);
      background: url("../icons/stack.svg#demo--renge-button-press") 50% 50% no-repeat;
      background-size: cover;
      outline: none;
    }
  }
}
