.technology {
  margin-top: 27px;
  padding-bottom: 42px;
  background: var(--basic-white);
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-row-gap: 40px;
}

.technology__title {
  margin-top: 27px;
  margin-left: 20px;
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  font-family: $font-oswald;
  grid-column: 2 / -2;
}

.technology__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 60px);
  grid-row-gap: 20px;
}

.technology__item {
  padding-left: 80px;
}

.technology__text {
  position: relative;
  margin: 0;

  &--food {
    &::before {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      left: -80px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: var(--basic_green);
      background-size: 30px 30px, 60px 60px;
      background-image: url("../img/technology/group-1.svg");
    }
  }


  &--boiling {
    &::before {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      left: -80px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: var(--basic_green);
      background-size: 30px 30px, 60px 60px;
      background-image: url("../img/technology/group-2.svg");
    }
  }

  &--our-food {
    &::before {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      left: -80px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: var(--basic_green);
      background-size: 30px 30px, 60px 60px;
      background-image: url("../img/technology/group-3.svg");
    }
  }

  &--changes {
    &::before {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      left: -80px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: var(--basic_green);
      background-size: 30px 30px, 60px 60px;
      background-image: url("../img/technology/group-4.svg");
    }
  }
}
