.technology {
  padding-bottom: 42px;
  background: var(--basic-white);
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-row-gap: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 47px;
    grid-template-columns: 30px 1fr 30px;
    grid-row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 47px;
    grid-template-columns: 1fr repeat(2, 245px) 1fr;
    grid-column-gap: 80px;
  }
}

.technology__title {
  margin: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  font-family: $font-oswald;
  grid-column: 2 / -2;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 191px;
    justify-self: end;
    grid-column: 1 / 3;
  }
}

.technology__list {
  padding: 0;
  margin: 0;
  list-style: none;
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 60px);
  grid-row-gap: 20px;
  counter-reset: list1;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 280px);
    grid-column-gap: 30px;
    grid-row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-template-columns: 1fr repeat(2, 245px) 1fr;
    grid-column-gap: 80px;
    grid-template-rows: 280px;
  }
}

.technology__item {
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 151px;
    padding-left: 0;
    margin-right: 110px;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      counter-increment: list1;
      content: counter(list1) "";
      font-size: 280px;
      line-height: 280px;
      font-family: $font-oswald;
      color: var(--basic_grey);
    }

    &--food {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    &--boiling {
      grid-column: 3 / -1;
      grid-row: 1 / 2;
    }

    &--our-food {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }

    &--changes {
      grid-column: 3 / -1;
      grid-row: 2 / 3;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;

    &--food {
      width: 230px;
      padding-right: 29px;
      grid-column: 1 / 2;
      justify-self: end;
    }

    &--boiling {
      width: 246px;
      padding-right: 19px;
      grid-column: 2 / 3;
    }

    &--our-food {
      width: 248px;
      padding-right: 39px;
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }

    &--changes {
      width: 250px;
      grid-column: 4 / -1;
      grid-row: 1 / 2;
    }
  }
}

.technology__text {
  position: relative;
  margin: 0;
  z-index: 1;

  &--food {
    &::before {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      left: -80px;
      background-color: var(--basic_green);
      background-image: url("../icons/stack.svg#technology--group-1");
      background-size: 60px 60px;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      @media (min-width: $tablet-width) {
        width: 80px;
        height: 80px;
        left: 0;
        top: -111px;
      }
    }
  }


  &--boiling {
    &::before {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      left: -80px;
      background-color: var(--basic_green);
      background-image: url("../icons/stack.svg#technology--group-2");
      background-size: 60px 60px;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      @media (min-width: $tablet-width) {
        width: 80px;
        height: 80px;
        left: 0;
        top: -111px;
      }
    }
  }

  &--our-food {
    &::before {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      background-size: 40px 40px, 60px 60px;
      left: -80px;
      background-color: var(--basic_green);
      background-image: url("../icons/stack.svg#technology--group-3");
      background-size: 60px 60px;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      @media (min-width: $tablet-width) {
        width: 80px;
        height: 80px;
        left: 0;
        top: -111px;
      }
    }
  }

  &--changes {
    &::before {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      left: -80px;
      background-color: var(--basic_green);
      background-image: url("../icons/stack.svg#technology--group-4");
      background-size: 60px 60px;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      @media (min-width: $tablet-width) {
        width: 80px;
        height: 80px;
        left: 0;
        top: -111px;
        background-size: 60px 60px, 60px 60px;
      }
    }
  }
}
