*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-green {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  background: var(--basic_green);
  font-family: $font-oswald;
  box-sizing: border-box;

  &:hover {
    border: none;
    background: var(--basic_green-2);
  }

  &:active {
    color: var(--white-30);
  }
}

.button-gray {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--special_dark-grey);
  border: none;
  background: var(--basic_grey);
  font-family: $font-oswald;
  box-sizing: border-box;

  &:hover {
    border: none;
    background: var(--gray-catalog);
  }

  &:active {
    color: var(--black-30);
  }
}
