*,
*::before,
*::after {
  box-sizing: border-box;
}

input[type="number"]:not(:focus) {
  appearance: textfield;
}

*:focus,
*:focus-visible {
  outline: $border-dark-2;
  outline-offset: 2px;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}
