@mixin colorgreen-85 {
  background: rgba(#68B738, 0.85);
}

@mixin font-oswald-36x36 {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  font-family: $font-oswald;
}

@mixin font-oswald-36x40 {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  font-family: $font-oswald;
}

@mixin font-arial-12x12 {
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  font-family: $font-arial;
}

@mixin font-arial-12x16 {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-arial;
}

@mixin font-size-14x14 {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}

@mixin font-size-14x16 {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

@mixin font-size-14x18 {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

@mixin font-size-14x20 {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

@mixin font-oswald-16x16 {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  font-family: $font-oswald;
}

@mixin font-size-16x18 {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

@mixin font-size-16x20 {
  font-size: 16px;
  line-height: 20px;
}

@mixin font-oswald-18x24 {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-family: $font-oswald;
  text-transform: uppercase;
}

@mixin font-oswald-24x24 {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: $font-oswald;
}

@mixin font-oswald-24x26 {
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  font-family: $font-oswald;
}

@mixin font-oswald-24x37 {
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  font-family: $font-oswald;
}

@mixin font-size-20x20 {
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
}

@mixin font-size-20x30 {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

@mixin font-oswald-60x60 {
  font-weight: normal;
  font-size: 60px;
  line-height: 60px;
  font-family: $font-oswald;
}

@mixin link {
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

@mixin style-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin btn {
  padding: 0;
  border: none;
  background: none;
}

@mixin logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@mixin hover-active-menu {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@mixin green-btn {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  background: var(--basic_green);
  font-family: $font-oswald;
  box-sizing: border-box;

  &:hover {
    border: none;
    background: var(--basic_green-2);
  }

  &:active {
    color: var(--white-30);
  }
}

@mixin gray-btn {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--special_dark-grey);
  border: none;
  background: var(--basic_grey);
  font-family: $font-oswald;
  box-sizing: border-box;

  &:hover {
    border: none;
    background: var(--gray-catalog);
  }

  &:active {
    color: var(--black-30);
  }
}

@mixin technology {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  left: -80px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--basic_green);
}

@mixin chekbox {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: -5px;
  left: -5px;
}
