// Основные файлы

@import "fonts.scss";
@import "variables.scss";
@import "global.scss";

// Блоки

@import "blocks/page.scss";
@import "blocks/header.scss";
@import "blocks/promo.scss";
@import "blocks/directions.scss";
@import "blocks/technology.scss";
@import "blocks/demo.scss";
@import "blocks/footer.scss";
