// Color

:root {
  --basic-white: #ffffff;
  --white-30: rgba(255, 255, 255, 0.3);
  --white-00: rgba(255, 255, 255, 0.0);
  --black-30: rgba(0, 0, 0, 0.3);
  --basic-black: #000000;
  --special-black: #111111;
  --basic_grey: #F2F2F2;
  --gray-bottom: #E6E6E6;
  --basic-border: #e7e7e7;
  --gray-catalog: #EBEBEB;
  --gray-background: #EAEAEA;
  --special_grey: #CDCDCD;
  --special_grey-1: #D9D9D9;
  --special_grey-2: #666666;
  --special_dark-grey: #444444;
  --special_dark-grey-2: #222222;
  --basic_green: #68B738;
  --basic_green-2: #5EAA2F;
  --green-85: rgba(104, 183, 56, 0.85);
  --error: #FF8282;
}

//Viewports

$tablet-width: 768px;
$desktop-width: 1240px;

// Fonts

$font-arial: "Arial",
sans-serif;
$font-oswald: "Oswald",
"Arial",
sans-serif;
$font-oswaldmidi: "Oswaldmidi",
"Arial",
sans-serif;

// Border

$border-gray: 1px solid var(--gray-bottom);
$border-basic: 1px solid var(--basic-border);
$border-grey: 1px solid var(--special_grey);
$border-dark: 1px solid var(--special_dark-grey);
$border-grey-1: 1px solid var(--special_grey-1);
$border-catalog: 1px solid var(--gray-catalog);
$border-green: 2px solid var(--basic_green);
$border-none: 2px solid var(--white-00);
$border-white: 2px solid var(--basic-white);